:root {
    --ff-primary: 'Montserrat', sans-serif;
    --ff-accent: 'DM Mono';

    --color-primary: #C4D6B0;
    --color-footer: rgba(140, 192, 132, 0.9);
    --color-primary-dim: rgba(196, 214, 176, 0.4);
    --color-text: #463F3A;
}

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.tabs-container {
    width: 100%;
    display: flex;
    flex-direction: column; /* Arrange tabs in a column */
    align-items: center; /* Center-align tabs horizontally */
}

.tab {
    width: 100%; /* Make tabs full width */
    font-weight: bold; /* Make font bolder */
    font-size: 26px; /* Adjust font size */
    margin-bottom: 2px; /* Add margin between tabs */
    text-align: center; /* Center-align text within each tab */
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    background-color: var(--color-primary-dim);
}

.nav-container {
    font-family: var(--ff-primary);
    position: sticky;
    top: 0;
    z-index: 100;
}

/* nav-top = klasa obejmujaca navbara default */

.nav-top {
    display: flex;
    width: 100%;
    height: 3.3125rem;
    padding: 0rem 1.125rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--color-primary);


}

.logo {
    display: flex;
    align-items: center;
}

.logo-logoMark {
    width: 7.1875rem;
    height: 1.5rem;
    flex-shrink: 0;
}

/* pojemnik na perzyciski navbara */

.buttons {
    display: flex;
    height: 1.9375rem;
    flex-shrink: 0;
    gap: 0.69rem;
}

.button {
    width: 1.875rem;
    height: 1.875rem;
    flex-shrink: 0;
    background-color: transparent;
    border: none;
}

.nav-icon {
    width: 1.875rem;
    height: 1.875rem;
    flex-shrink: 0;
}


/* start styli dla navbar rozsuwany */

/* style odpowiedzialne za hamburger manu i wyswietlanie navbara */

.hamburger {
    position: relative;
    transform: translateY(-1.7rem);
    flex-shrink: 0;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle-label {
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    transform: translateY(-33px);
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 1.375rem;
    border-radius: 2px;
    position: relative;
    margin: auto;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}


.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


/* style przycisku szukania */
.search-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.search-toggle:checked~.search-bar {
    transform: scale(1, 1);
}

.search-toggle:checked~.search-bar input {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


/* style search bara */
.search-bar {
    overflow: hidden;
    position: absolute;
    text-align: left;
    z-index: 100;
    left: 0;
    background: #8CC084;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    display: flex;

    flex-wrap: wrap;
    gap: 0.57rem;
    height: fit-content;
    padding: 0.75rem 1.08625rem 0.8125rem 1.0625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


/* search field to div robiacy za input w search barze */
.search-field-desktop {
    display: none;
}

.search-field {
    display: flex;
    width: 20.35125rem;
    height: 2.1875rem;
    padding: 0.4375rem 0rem 0.375rem 0.62294rem;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 1.5rem;
    border: 2px solid #63915C;
    background: rgba(114, 166, 106, 0.90);
    gap: 0.25rem;
}

.search-field>input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: rgba(239, 226, 219, 0.50);
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
}

.search-field>input:focus {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

/* style zmiena wygladu search fielda po kliknieciu w niego */

.search-field:focus-within {
    border: 2px solid #0C1F0D;
    background: rgba(13, 38, 10, 0.50);
}

.search-field:focus-within>input {
    color: #EFE2DB;
}

.search-field:focus-within>span {
    background: #0C1F0D;
}

.search-field:focus-within>.search-button>.search-image {
    filter: brightness(0) saturate(100%) invert(0%) sepia(93%) saturate(16%) hue-rotate(57deg) brightness(100%) contrast(102%);
}

.search-button {
    align-self: center;
    background: transparent;
    border: none;
    position: relative;
    width: 1.375rem;
    height: 1.375rem;
    justify-content: center;
}

.search-button>img {
    width: 1.375rem;
    height: 1.375rem;
    flex-shrink: 0;
}

.search-field>span {
    align-self: center;
    display: block;
    background: #3D5D39;
    width: 0.125rem;
    height: 1.25rem;
    border-radius: 2px;
    position: relative;
    margin: auto;
}

/* style search results noshow - nic nie wpisane w search input, nie widach search results */
.search-results-noshow {
    border: 2px solid #63915C;
    width: 22.5rem;
    height: 11.06675rem;
    flex-shrink: 0;
    display: none;
}

/* style search results show - wpisano w search input, wyswietlic search results */
.search-results-show {
    background: rgba(0, 0, 0, 0.50);
    width: 22.5rem;
    height: 11.06675rem;
    flex-shrink: 0;
    display: block;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}

/* result to pojedynczy wynik wyszukiwania */

.result {
    display: flex;
    width: 6.688rem;
    height: 9.81944rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.result>img {
    width: 6.688rem;
    height: 6.688rem;
    flex-shrink: 0;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    border-top: 1px solid #8C8A93;
    border-right: 1px solid #8C8A93;
    border-left: 1px solid #8C8A93;
}

.result-text {
    background-color: #8C8A93;
    width: 6.688rem;
    height: 3.13144rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.47rem;
    align-items: center;
}

.result-text>h4 {
    color: #223;
    font-family: var(--ff-primary);
    font-size: 0.836rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.result-text>p {
    color: #223;
    font-family: var(--ff-primary);
    font-size: 0.418rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* koniec styli search bara */


/* style navbara */

nav {
    overflow: hidden;
    position: absolute;
    text-align: left;
    z-index: 100;
    left: 0;
    background: #8CC084;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    display: flex;

    height: fit-content;
    padding: 0rem 0.02806rem 0rem 0.03444rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 0rem 0rem 1.25rem 1.25rem;
}

nav>div {
    border-bottom: 1px solid #463F3A;
}


.nav-title {
    display: flex;
    padding: 0.625rem 1.8125rem 0.6875rem 1.9375rem;
    justify-content: center;
    align-items: flex-end;
    gap: 46%;
    width: 100%;
}

.nav-title>p {
    color: #463F3A;
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.nav-title>img {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}


nav ul {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

}

nav li {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #463F3A;
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: .65rem 1rem;
    display: block;
    transition: opacity 150ms ease-in-out;
}

nav li:focus {
    background-color: #AA0033;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.nav-wrapper {
    animation: slide-in 0.5s forwards;
    width: 100%;
    height: fit-content;
}




#footer {
    margin-top: auto;
    padding-top: 0.3rem;
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    font-weight: 700;
    color: var(--color-text);
    width: 100%;
    background-color: var(--color-footer);
}

#footer_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    min-height: 5rem;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin: 0.5rem;
}

.spacer {
    width: 3rem;
    margin: 0.1rem;
    border: 0.05rem solid black
}


.login {
    display: none;
}

#options_herbata,
#options_yerba,
#options_kawa,
#options_akcesoria {
    display: none;
}


@media only screen and (min-width:1024px) {

    .nav-top {
        display: flex;
        height: 6rem;
        padding: 0rem 2.3125rem;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
    }

    .logo>img {
        width: fit-content;
        height: 3rem;
        flex-shrink: 0;
    }


    .buttons {
        width: fit-content;
        height: fit-content;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .button {
        width: 4.6875rem;
        height: 4.6875rem;
        flex-shrink: 0;
    }

    .buttons>button:last-child {
        display: none;
    }

    .nav-icon {
        width: 4rem;
        height: 4rem;
    }

    nav {
        transform: scale(1, 1);
        border-radius: 0;
        padding: 0rem 5.625rem;
        height: fit-content;
    }

    nav>div {
        border-bottom: none;
    }

    .nav-title {
        display: none;
    }

    .nav-wrapper {
        animation: none;
        width: 100%;
        height: fit-content;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

    nav li {
        flex-direction: row;
        width: fit-content;
    }

    nav li>img {
        transform: rotate(90deg);
    }


    


    .search-toggle-label {
        height: 5rem;
        font-size: 1rem;
    }

    .search-field-desktop {
        display: none;
        width: 25rem;
        height: 4.6875rem;
        padding: 0.4375rem 0rem 0.375rem 0.62294rem;
        justify-content: flex-end;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 5rem;
        border: 2px solid #63915C;
        background: rgba(114, 166, 106, 0.90);
        gap: 0.25rem;
    }

    /* to gowno nie chce dzialać */
    .search-toggle:checked ~ .search-field-desktop {
        transform: scale(1, 1);
    }

    /*powinno dzialac jak na androidzie ale nie chce dac wgl styli tych do elementu */

    .search-field-desktop>input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        color: rgba(239, 226, 219, 0.50);
        font-family: var(--ff-primary);
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
    }

    .search-field-desktop>input:focus {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
    }


    .search-button {
        align-self: center;
        background: transparent;
        border: none;
        position: relative;
        width: 3rem;
        height: 3rem;
        justify-content: center;
    }

    .search-button>img {
        width: 3rem;
        height: 3rem;
        flex-shrink: 0;
    }

    .search-field-desktop>span {
        align-self: center;
        display: block;
        background: #3D5D39;
        width: 0.25rem;
        height: 3.6875rem;
        border-radius: 2px;
        position: relative;
        margin: auto;
    }

    .search-bar {
        display: none;
        border-radius: 0 0 2rem 2rem;
        padding: 0 0 2rem 0;
    }

    .search-results-show {
        background: rgba(0, 0, 0, 0.50);
        width: 100%;
        height: 11.06675rem;
        flex-shrink: 0;
        display: block;
        padding: 0.625rem 1.25rem 0.625rem 1.25rem;

    }

    .search-field-desktop:focus-within {
        border: 2px solid #0C1F0D;
        background: rgba(13, 38, 10, 0.50);
    }

    .search-field-desktop:focus-within>input {
        color: #EFE2DB;
    }

    .search-field-desktop:focus-within>span {
        background: #0C1F0D;
    }

    .search-field-desktop:focus-within>.search-button>.search-image {
        filter: brightness(0) saturate(100%) invert(0%) sepia(93%) saturate(16%) hue-rotate(57deg) brightness(100%) contrast(102%);
    }


    .login {
        z-index: 999;
        position: absolute;
        top: 4.8rem;
        right: 2.3125rem;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
        border-radius: 3.125rem 0rem 3.125rem 3.125rem;
        border: 5px solid var(--duzoZielen, #8CC084);
        background: var(--maloZielen, #C4D6B0);
        padding-inline: 2.25rem;
        padding-bottom: 1rem;
    }

    .login>h2 {
        color: #463F3A;
        text-align: center;
        font-family: Montserrat;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }


    .login>input {
        display: flex;
        width: 31.25rem;
        height: 3.4375rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.375rem;
        flex-shrink: 0;
        background: var(--duzoZielen, #8CC084);
        border: 1px solid lightgray;
        border-radius: 1rem;
        font-size: 2rem;
        color: #463F3A;
        padding: 0rem 0.5rem 0rem 0.5rem;
    }


    .login>p {
        color: #6DB9FF;
        text-align: center;
        font-family: Montserrat;
        font-size: 0.6875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        align-self: flex-start;
        margin-left: 0.5rem;
    }

    .login>div {
        display: flex;
        gap: 1rem;
    }

    .login-button {
        display: inline-flex;
        padding: 0.875rem 0.375rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.6875rem;
        background: var(--duzoZielen, #8CC084);
        border: none;
        color: #463F3A;
        text-align: center;
        font-family: Montserrat;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }


    #options_herbata {
        position: absolute;
        top: 9rem;
        left: 2rem;
        z-index: 999;
        display: none;
        flex-direction: column;
        background-color: var(--duzoZielen, #8CC084);
        align-items: center;
        border-radius: 0rem 0rem 2.125rem 2.125rem;
        border-top: 1px solid #8A817C;
        background: rgba(140, 192, 132, 0.96);
    }

    #options_herbata>div {
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
        padding: 1rem 2.625rem 1rem 2.625rem;
        width: 100%;
    }

    #options_herbata>div:hover {
        border-radius: 0.25rem;
        background: rgba(99, 145, 92, 0.44);
        cursor: pointer;
    }

    #options_herbata>div:last-child:hover {
        border-radius: 0.25rem;
        background: rgba(99, 145, 92, 0.44);
        border-radius: 0rem 0rem 2.125rem 2.125rem;
        cursor: pointer;
    }

    #options_herbata div>p {
        color: #463F3A;
        text-align: center;
        font-family: Montserrat;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #options_herbata>div:hover p {
        text-decoration: underline;
    }

    #options_yerba {
        position: absolute;
        top: 9rem;
        left: 10rem;
        z-index: 999;
        display: none;
        flex-direction: column;
        background-color: var(--duzoZielen, #8CC084);
        align-items: center;
        border-radius: 0rem 0rem 2.125rem 2.125rem;
        border-top: 1px solid #8A817C;
        background: rgba(140, 192, 132, 0.96);
    }

    #options_yerba>div {
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
        padding: 1rem 2.625rem 1rem 2.625rem;
        width: 100%;
    }

    #options_yerba>div:hover {
        border-radius: 0.25rem;
        background: rgba(99, 145, 92, 0.44);
        cursor: pointer;
    }

    #options_yerba>div:last-child:hover {
        border-radius: 0.25rem;
        background: rgba(99, 145, 92, 0.44);
        border-radius: 0rem 0rem 2.125rem 2.125rem;
        cursor: pointer;
    }

    #options_yerba div>p {
        color: #463F3A;
        text-align: center;
        font-family: Montserrat;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #options_yerba>div:hover p {
        text-decoration: underline;
    }


    #options_kawa {
        position: absolute;
        top: 9rem;
        left: 17rem;
        z-index: 999;
        display: none;
        flex-direction: column;
        background-color: var(--duzoZielen, #8CC084);
        align-items: center;
        border-radius: 0rem 0rem 2.125rem 2.125rem;
        border-top: 1px solid #8A817C;
        background: rgba(140, 192, 132, 0.96);
    }

    #options_kawa>div {
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
        padding: 1rem 2.625rem 1rem 2.625rem;
        width: 100%;
    }

    #options_kawa>div:hover {
        border-radius: 0.25rem;
        background: rgba(99, 145, 92, 0.44);
        cursor: pointer;
    }

    #options_kawa>div:last-child:hover {
        border-radius: 0.25rem;
        background: rgba(99, 145, 92, 0.44);
        border-radius: 0rem 0rem 2.125rem 2.125rem;
        cursor: pointer;
    }

    #options_kawa div>p {
        color: #463F3A;
        text-align: center;
        font-family: Montserrat;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #options_kawa>div:hover p {
        text-decoration: underline;
    }

    #options_akcesoria {
        position: absolute;
        top: 9rem;
        left: 17rem;
        z-index: 999;
        display: none;
        flex-direction: column;
        background-color: var(--duzoZielen, #8CC084);
        align-items: center;
        border-radius: 0rem 0rem 2.125rem 2.125rem;
        border-top: 1px solid #8A817C;
        background: rgba(140, 192, 132, 0.96);
    }

    #options_akcesoria>div {
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
        padding: 1rem 2.625rem 1rem 2.625rem;
        width: 100%;
    }

    #options_akcesoria>div:hover {
        border-radius: 0.25rem;
        background: rgba(99, 145, 92, 0.44);
        cursor: pointer;
    }

    #options_akcesoria>div:last-child:hover {
        border-radius: 0.25rem;
        background: rgba(99, 145, 92, 0.44);
        border-radius: 0rem 0rem 2.125rem 2.125rem;
        cursor: pointer;
    }

    #options_akcesoria div>p {
        color: #463F3A;
        text-align: center;
        font-family: Montserrat;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #options_akcesoria>div:hover p {
        text-decoration: underline;
    }

    #footer {
        margin-top: auto;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: column;
        font-family: var(--ff-primary);
        font-weight: 700;
        color: var(--color-text);
        width: 100%;
        background-color: var(--color-footer);
    }

    #footer_info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
        min-height: 10rem;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    #copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        margin: 0.5rem;
    }

    .spacer {
        width: 5rem;
        margin: 0.2rem;
        border: 0.1rem solid black
    }


}