:root {
    --ff-primary: 'Montserrat', sans-serif;
    --ff-accent: 'DM Mono';

    --color-primary: #C4D6B0
}

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-container {
    font-family: var(--ff-primary);
}

.nav-top {
    display: flex;
    width: 22.5rem;
    height: 3.3125rem;
    padding: 0rem 1.125rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--color-primary);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-logoMark {
    width: 7.1875rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.buttons {
    display: flex;
    width: 9.5625rem;
    height: 1.9375rem;
    flex-shrink: 0;
    gap: 0.69rem;
}

.button {
    width: 1.875rem;
    height: 1.875rem;
    flex-shrink: 0;
    background-color: transparent;
    border: none;
}

.nav-icon{
    width: 1.875rem;
height: 1.875rem;
flex-shrink: 0; 
}

.hamburger{
    position: relative;
    transform: translateY(-1.7rem);
   
    flex-shrink: 0; 
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(red, .75);
  }

  .nav-toggle-label {
    position: relative;
    display: flex;
    align-items: center;
    transform: translateY(-1.2rem);
  }
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 1.375rem; 
    border-radius: 2px;
    position: relative;
    margin: auto;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }


.nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

.nav-toggle:checked ~ .navbar-logo > div{
    transform: scale(1,1);
    transition: ease-in-out 250ms;
}



