:root {
    --ff-primary: 'Montserrat', sans-serif;
    --ff-accent: 'DM Mono';

    --color-primary: #C4D6B0;
    --color-footer: rgba(140, 192, 132, 0.9);
    --color-primary-dim: rgba(196, 214, 176, 0.4);
    --color-text: #463F3A;
}

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    background-color: var(--color-primary-dim);
}

.nav-container {
    font-family: var(--ff-primary);
}

/* nav-top = klasa obejmujaca navbara default */

.nav-top {
    display: flex;
    width: 100%;
    height: 3.3125rem;
    padding: 0rem 1.125rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--color-primary);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-logoMark {
    width: 7.1875rem;
    height: 1.5rem;
    flex-shrink: 0;
}

/* pojemnik na perzyciski navbara */

.buttons {
    display: flex;
    width: 9.5625rem;
    height: 1.9375rem;
    flex-shrink: 0;
    gap: 0.69rem;
}

.button {
    width: 1.875rem;
    height: 1.875rem;
    flex-shrink: 0;
    background-color: transparent;
    border: none;
}

.nav-icon{
    width: 1.875rem;
    height: 1.875rem;
    flex-shrink: 0; 
}


/* start styli dla navbar rozsuwany */

/* style odpowiedzialne za hamburger manu i wyswietlanie navbara */

.hamburger{
    position: relative;
    transform: translateY(-1.7rem);
    flex-shrink: 0; 
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

  .nav-toggle-label {
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    transform: translateY(-33px);
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 1.375rem; 
    border-radius: 2px;
    position: relative;
    margin: auto;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }


/* style navbara */

nav {
    overflow: hidden;
    position: absolute;
    text-align: left;
    z-index: 100;
    left: 0;
    background: #8CC084;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    display: flex;

    height: 24rem;
    padding: 0rem 0.02806rem 0rem 0.03444rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0; 
    border-radius: 0rem 0rem 1.25rem 1.25rem; 
}

nav>div{
    border-bottom: 1px solid #463F3A;
}


.nav-title{
    display: flex;
    padding: 0.625rem 1.8125rem 0.6875rem 1.9375rem;
    justify-content: center;
    align-items: flex-end;
    gap: 46%; 
    width: 100%;
}

.nav-title>p{
    color: #463F3A;
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
      
}

.nav-title>img{
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0; 
}


nav ul {
    display: flex;
    width: 100%;
    height: 21rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0; 
    
}

nav li {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #463F3A;
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    padding: .65rem 1rem;
    display: block;
    transition: opacity 150ms ease-in-out;
}

nav li:focus {
    background-color: #AA0033;
}


/* koniec styli dla navbar rozsuwany */



.body {
    position: relative;
    width: 100%;
    font-family: var(--ff-primary);
    font-weight: 700;
    color: var(--color-text);
}

#title {
    display: flex;
    width: 100%;
    padding-left: 0.8rem;
    align-items: center;
    height: 5rem;
    font-size: 1.2rem;
}

.editOption {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 0.8rem;
    font-size: 1.2rem;
    height: 3rem;
    background-color: var(--color-primary);
}   

#footer {
    margin-top: auto;
    padding-top: 0.3rem;
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    font-weight: 700;
    color: var(--color-text);
    width: 100%;
    background-color: var(--color-footer);
}

#footer_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    min-height: 5rem;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin: 0.5rem;
}

.spacer {
    width: 3rem;
    margin: 0.1rem;
    border: 0.05rem solid black
}