

.body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--ff-primary);
    font-weight: 700;
    color: var(--color-text);
} 

.contentTitle {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;

    width: 90%;
}

.row > div {
    width: 90%;
}

#addresses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.address {
    font-size: larger;
    width: 80%;
    border-radius: 0.75rem;
    display: flex;
    padding: 1rem;
    background-color: rgba(140, 192, 132, 0.21);
}

.addressInfo {
    width: 75%;
}

.addressIcons {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
}

.addressIcons > img {
    height: 75%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 80%;
    height: 100%;
    text-align: left;
}

.inputs > input {
    font-family: var(--ff-primary);
    border-radius: 50rem; 
    background-color: rgba(140,192,132,0.86);
    border-color: #DEE2E6;
    border-style: solid;
    height: 3rem;
    width: 100%;
    padding-left: 1rem;
}

.inputs > input::placeholder {
    font-size-adjust: none;
    color: rgba(70,63,58,0.36);
}

.inputs > div > h1 {
    padding-left: 0.5rem;
}

.inputs > button {  
    font-family: var(--ff-primary);
    border-radius: 50rem;
    border: none;
    background-color: rgba(140,192,132,0.86);
    height: 2.5rem;
    width: 7rem;
}